<!DOCTYPE html>

<html>

<head lang="en-US">

    <%- include("../partials/head", {page_name: "Experiments"}) %>

</head>

<body>

    <header id="header">

	    <%- include("../partials/header") %>
        
    </header>

    <main id="main">

    </main>

    <%- include("../partials/scripts") %>

</body>

</html>