<!DOCTYPE html>

<html>

<head lang="en-US">

    <%- include("../partials/head", {"page_name": "Message"}) %>

</head>
    
<body>

    <header id="header">

	    <%- include("../partials/header") %>

    </header>

    <main id="main">

        <div class="w-25 mt-3 text-center">

            <span><%= msg %></span>
            
        </div>

    </main>

    <%- include("../partials/scripts") %>

</body>

</html>