<!DOCTYPE html>

<html>

<head lang="en-US">

    <%- include("../partials/head",  {"page_name": "Experiment Setup"}) %>

</head>

<body>

    <header id="header">

	    <%- include("../partials/header") %>
        
    </header>

    <main id="main">

        <div class="container h-100 w-75 mt-5">

            <h1 class="text-center mb-5">Experiment Setup</h1>

            <form class="row" action="/control" method="post">

                <input type="hidden" name="action" value="start">

                <div class="mb-3 col-md-12">
                    <label for="experiment-name" class="form-label">Experiment name *</label>
                    <input id="experiment-name" class="form-control" type="text" name="experiment_name" pattern="[a-zA-Z0-9_-]+" required>
                    <span class="form-text">Only letters, numbers and symbols (_ and -)</span>
                </div>

                <div class="mb-3 col-md-6">
                    <label for="mote-count" class="form-label">Mote count *</label>
                    <input id="mote-count" class="form-control" type="number" name="mote_count" min="0" required>
                </div>

                <div class="mb-3 col-md-6">
                    <label for="tx-power" class="form-label">Transmission power (dBm)</label>
                    <input id="tx-power" class="form-control" type="number" name="tx_power" min="0">
                </div>

                <div class="mb-3 col-md-6">
                    <label for="tx-intv" class="form-label">Transmission interval (Seconds)</label>
                    <input id="tx-intv" class="form-control" type="number" name="tx_intv" min="0" step=".1">
                </div>

                <div class="mb-3 col-md-6">
                    <label for="analyze-intv" class="form-label">Analyze interval (Seconds)</label>
                    <input id="analyze-intv" class="form-control" type="number" name="analyze_intv" min="0" step=".1">
                </div>

                <div class="mb-3 col-md-6">
                    <label for="hs-len" class="form-label">Hop sequence length</label>
                    <input id="hs-len" class="form-control" type="number" name="hs_len" min="0">
                    <span class="form-text">Note: if the hop sequence field is filled in, this field will be disregarded</span>
                </div>

                <div class="mb-3 col-md-6">
                    <label for="hopseq" class="form-label">Hop sequence</label>
                    <input id="hopseq" class="form-control" type="text" name="hopseq" pattern="^[0-9]+(,[0-9]+)*$" placeholder="e.g. 15,20,21,16">
                    <span class="form-text">Comma-separated integers only (e.g. 15,20,21,16)</span>
                </div>

                <button type="submit" class="mt-4 mb-3 col-md-3 btn btn-success">Setup</button>

            </form>

        </div>

    </main>

    <%- include("../partials/scripts") %>

</body>

</html>